@font-face {
  font-family: 'Helvetica Neue';
  src: url(../public/fonts/HelveticaNeueThin.otf);
  font-weight: normal;
  font-style: normal;
}
:root{
  --color-white: #ffffff;
  --color-black-input:#222222;
  --color-grey: #707070;
  --color-black-background:#212529;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
