.app_login{
    display: flex;
    flex-direction: row;
    background: #212121 0% 0% no-repeat padding-box;
    width: 1920px;
    height: 100vh;
    position: relative;
    opacity: 1;
    box-sizing: border-box;
}

.app_login-left_side-logo img{
    position: absolute;
    display: flex;
    position: absolute;
    top: 250px;
    left: 200px;
    width: 548px;
    height: 333px;
    opacity: 1;
    background: transparent 0% 0% no-repeat padding-box;
}

.app_login-left_side-people{
    display: flex;
    position: relative;
}

.woman{
    position: absolute;
    left: 0;
    top: 679px;
    width: 201px;
    height: 402px;
}


.app_login-right_side{
    width: 982px;
    height: 100vh;
    background: transparent linear-gradient(180deg, #8556A4 0%, #2D2B52 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
}