.app_login{
    display: flex;
    flex-direction: row;
    position: relative;
}

.app_login-left_side{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 1080px;
    background: #212121 0% 0% no-repeat padding-box;
    opacity: 1;
}